<!doctype html>
<html lang="pt-br" ng-app="phonecat">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular Tutorial</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="app.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div class="container" ng-controller="Home">
    <div ng-show="ui_estado == 'lista'">
        <h1>Telefones</h1>
        <div class="row">
            <div class="col-md-3">
                <h3>Pesquisar</h3>
                <input type="text" ng-model="query" placeholder="Pesquisar...">
                <h3>Ordenar por</h3>
                <select ng-model="orderProp">
                  <option value="name">Nome</option>
                  <option value="description">Descrição</option>
                </select>
            </div>
            <div class="col-md-9">
                <ul id="listaDeTelefones">
                    <li ng-repeat="telefone in telefones | filter:query | orderBy:orderProp">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                    <img class="img-responsive" ng-src="{{telefone.images[0]}}">
                                    <div class="caption text-center">
                                        <h4>{{telefone.name}}</h4>                   
                                    </div>
                            </div>
                            <div class="panel-footer text-center">
                                <a href="#" class="btn btn-default" role="button" ng-click="mostrarDetalhes(telefone)">
                                    <i class="glyphicon glyphicon-zoom-in"></i> Detalhes
                                </a> 
                            </div>
                        </div>
                    </li>
                </ul>  
            </div>
        </div> <!--/row-->
    </div>
    <div ng-show="ui_estado == 'detalhes'">
        <h1>
        <a href="" class="btn btn-default pull-right" role="button" ng-click="mostrarLista()">
            <i class="glyphicon glyphicon-th-large"></i> Lista
        </a>
        {{telefone.name}}
        </h1>
        <p>{{telefone.description}}</p>
    </div>

</div> <!--/container-->
</body>
</html>
