<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteBase /livro-web-codigo-fonte/backend/request-angular-post
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
